@font-face {
    font-family: tipografia;
    src: url(/styles/JosefinSans-VariableFont_wght.ttf);
}
body{
    display: flex;
    flex-direction:row;
    justify-content: space-around;
    padding: 30px;
    background-color:rgba(1, 14, 40, 1);
    font-family: tipografia;
}
aside{
    position: fixed;
    top: 0;
    left: 0;
    width: 20%;
    height: 100%;
    background-image: url(/img/marek-piwnicki-fKjPKFeilfg-unsplash.jpg);
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border-radius: 0;
}
#logo{
    margin-top: 10px;
    width: 250px;
    height: 130px;
    background-image: url(/img/logo.png);
    background-size:contain;
    background-position: center;
    background-repeat: no-repeat;
}
#opc_usuario{
    width: 90%;
    margin-top: 90px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 120px;
}
#foto_perfil{
    background-image: url("/img/usuario2.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 90px;
    height: 65px;
}
#nomb_usuario{
    text-decoration: none;
    font-size: x-large;
    color: #e1e1e1;
    cursor: pointer;
    position: relative;
    border: none;
    background: none;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
    transition-property: color;
}
#nomb_usuario:focus,#nomb_usuario:hover{
    color: #fff;
}

#nomb_usuario:focus:after,#nomb_usuario:hover::after{
    width: 100%;
    left: 0%;
}
#nomb_usuario::after{
    content: "";
    pointer-events: none;
    bottom: -2px;
    left: 50%;
    position: absolute;
    width: 0%;
    height: 2px;
    background-color: #fff;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
    transition-property: width, left;
}
#menu_tablas{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0px;
    width: 60%;
}
#links_tablas{
    margin-top: 20px;
    text-decoration: none;
    font-size: x-large;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
    border-radius: 5px;
    transition: all 1000ms;
    position: relative;
    overflow: hidden;
}
#links_tablas:hover {
    color: #ffffff;
    transform: scale(1.1);
    outline: 2px solid rgba(1, 14, 40, 1);
    box-shadow: 4px 5px 17px -4px rgba(1, 14, 40, 1);
    background-color: rgba(1, 14, 40, 1);
}

#links_tablas::before {
    content: "";
    position: absolute;
    left: -50px;
    top: 0;
    width: 0;
    height: 100%;
    background-color: rgba(1, 14, 40, 1);
    transform: skewX(45deg);
    z-index: -1;
    transition: width 1000ms;
}

#links_tablashover::before {
    width: 250%;
}
main{
    background-color: white;
    width: 70%;
    margin-left: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 30px;
}
#titulo{
    margin-top: 60px;
    font-size: xx-large;
    color: rgba(1, 14, 40, 1);
}
table{
    margin-top: 20px;
    width: 95%;
}
th{
    font-size: larger;
    padding-bottom: 15px;
}
td{
    font-size: larger;
    text-align: center;
    padding-top: 15px;
}

section{
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 70px;
}
input{
    height: 30px;
    font-size:20px;
    font-family: tipografia;
}
legend{
    color:steelblue;
    
}
fieldset{
    border-radius: 20px;
    border: 2px solid firebrick;
    font-size: x-large;
    margin-top: 70px;
}
#fieldset-buscar{
    width: 50%;
}
#buscar{
    margin-left: 40px;
}
button{
    height: 50px;
    width: 110px;
    padding: 10px;
    border-radius: 15px;
    background-color: white;
    box-shadow: rgb(0 0 0 / 5%) 0 0 8px;
    font-size: large;
    font-family: tipografia;
    transition: all .5s ease;
    border: 2px solid rgba(1, 14, 40, 1);
}
button:hover{
    background-color: rgba(1, 14, 40, 1);
    color: white;
    box-shadow: rgba(1, 14, 40, 1) 0px 7px 29px 0px;
}

button:active {
    background-color: rgba(1, 14, 40, 1);
    color: hsl(0, 0%, 100%);
    box-shadow: rgba(1, 14, 40, 1) 0px 0px 0px 0px;
    transform: translateY(10px);
    transition: 100ms;
}
#form_cli_novo,#form_cli_act,#form_cli_delete{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 45px;
    grid-auto-rows: minmax(100px, auto);
}
select{
    width: 85%;
    height: 35px;
    font-size: 20px;
    font-family: tipografia;
}


@media screen and (min-width:320px) and (max-width:700px){
}