<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/index.css">
    <title>Home</title>
</head>
<body>
    <aside>
        <div id="logo"></div>
        <div id="info_usuario">
            <a href="" id="foto_perfil"></a>
            <p id="nomb_usuario">Nombre Usuario</p>
            <p id="rol_usuario">Rol</p>
        </div>
        <div id="opciones_perfil">
            <a href="" id="link_micuenta">Mi cuenta</a>
            <a href="" id="link_mispedidos">Mis pedidos</a>
            <a href="" id="log_out">Cerrar Sesion</a>
        </div>
    </aside>
    <main>
        <section>
            <p id="titulo">SOFTWARE GALTER</p>

            <div id="tablas">
                <a href="/templates/pedidos.html" id="pedidos">
                    <div id="img_pedidos"></div>
                    <div id="title_pedidos">Pedidos</div>
                </a>
                <a href="/templates/productos.html" id="productos">
                    <div id="img_productos"></div>
                    <div id="title_productos">Productos</div>
                </a>
                <a href="/templates/materiales.html" id="materiales">
                    <div id="img_materiales"></div>
                    <div id="title_materiales">Materiales</div>
                </a>
                <a href="/templates/usuarios.html" id="usuarios">
                    <div id="img_usuarios"></div>
                    <div id="title_usuarios">Usuarios</div>
                </a>
                <a href="/templates/proveedores.html" id="proveedores">
                    <div id="img_proveedores"></div>
                    <div id="title_proveedores">Proveedores</div>
                </a>
                <a href="/templates/clientes.html" id="clientes">
                    <div id="img_clientes"></div>
                    <div id="title_clientes">Clientes</div>
                </a>
            </div>
        </section>
    </main>
</body>
</html>