<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="/scripts/materiales.js"></script>
    <link rel="stylesheet" href="/styles/materiales.css">
    <title>Materiales Galter</title>
</head>
<body>
        <aside>
            <div id="logo"></div>
            <div id="opc_usuario">
                <div id="foto_perfil"></div>
                <a href="" id="nomb_usuario">Nombre Usuario</a>
            </div>
            <div id="menu_tablas">
                <a href="/templates/index.html" id="links_tablas">Home</a>
                <a href="/templates/clientes.html" id="links_tablas">Clientes</a>
                <a href="/templates/pedidos.html" id="links_tablas">Pedidos</a>
                <a href="" id="links_tablas">Productos</a>
                <a href="" id="links_tablas">Proveedores</a>
                <a href="" id="links_tablas">Usuarios</a>
            </div>
        </aside>
        <main>
            <p id="titulo">MATERIALES</p>
            <table id="tabla_listar">
                <thead></thead>
                <tbody></tbody>
            </table>
            <section>
                <fieldset id="fieldset-buscar">
                    <legend>Buscar Material</legend>
                    <form id="form_mat_busc">
                        <div id="sec_inputs">
                            <p>Id Material</p>
                            <input type="text" id="id_input_buscar">
                            <button type="submit" class="btn btn-dark" id="buscar">Buscar</button>
                        </div>
                        
                    </form>
                    <p id="resp_busqueda"></p>
                </fieldset>
    
                <fieldset id="fieldset-input">
                    <legend>Nuevo Material</legend>
                    <form id="form_mat_novo" action="">
                        <div id="sec_inputs">
                            <label for="">Codigo Material</label>
                            <input type="text" id="codigo_input_novo">
                        </div>
                        <div id="sec_inputs">
                            <label for="">Nombre Material</label>
                            <input type="text" id="nombre_input_novo">
                        </div>
                        <div id="sec_inputs">
                            <label for="">Cantidad Material</label>
                            <input type="number" id="cant_input_novo">
                        </div>
                        <div id="sec_inputs">
                            <label>Proveedor</label>
                            <select name="prov_input_novo" id="prov_input_novo"></select>
                        </div>
                        <button type="submit" class="btn btn-dark" id="enviar">Enviar</button>
                    </form>
                    <p id="resp_enviar"></p>
                </fieldset>
    
                <fieldset id="fieldset-update">
                    <legend>Actualizar Material</legend>
                    <form id="form_mat_act" action="">
                        <div id="sec_inputs">
                            <label for="">Codigo del Material</label>
                            <input type="text" id="codigo_input_act">
                        </div>
                        <div id="sec_inputs">
                            <label for="">Confirmar Nombre</label>
                            <input type="text" id="nombre_input_act">
                        </div>
                        <div id="sec_inputs">
                            <label for="">Confirmar Material</label>
                            <input type="number" name="" id="cant_input_act">
                        </div>
                        <div id="sec_inputs">
                            <label>Confirmar Proveedor</label>
                            <select name="prov_input_act" id="prov_input_act"></select>
                        </div>
                        <button type="submit" class="btn btn-dark" id="actualizar">Actualizar</button>
                    </form>
                    <p id="resp_enviar"></p>
                </fieldset>
    
                <fieldset id="fieldset-delete">
                    <legend>Eliminar Material</legend>
                    <form id="form_mat_delete" action="">
                        <div id="sec_inputs">
                            <label for="">Id Material</label>
                            <input type="text" id="id_input_delete">
                        </div>
                        <button type="submit" class="btn btn-dark" id="eliminar">Eliminar</button>
                    </form>
                    <p id="resp_delete"></p>
                </fieldset>
            </section>
        </main>
</body>
</html>