<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="/scripts/pedidos.js"></script>
    <link rel="stylesheet" href="/styles/pedidos.css">
    <title>Pedidos Galter</title>
</head>
<body>
    <aside>
        <div id="logo"></div>
        <div id="opc_usuario">
            <div id="foto_perfil"> </div>
            <a href="" id="nomb_usuario">Nombre Usuario</a>
        </div>
        <div id="menu_tablas">
            <a href="/templates/index.html" id="links_tablas">Home</a>
            <a href="" id="links_tablas">Productos</a>
            <a href="" id="links_tablas">Materiales</a>
            <a href="" id="links_tablas">Usuarios</a>
            <a href="" id="links_tablas">Proveedores</a>
            <a href="" id="links_tablas">Clientes</a>
        </div>
    </aside>
    <main>
        <p id="titulo">PEDIDOS</p>
        <table id="tabla_listar">
            <thead></thead>
            <tbody></tbody>
        </table>
        <section>
            <fieldset id="fieldset-buscar">
                <legend>Buscar Pedido</legend>
                <form id="form_ped_busc">
                    <div id="sec_inputs">
                        <p>Id Pedido</p>
                        <input type="text" id="id_input_buscar">
                        <button type="submit" class="btn btn-dark" id="buscar">Buscar</button>
                    </div>
                    
                </form>
                <p id="resp_busqueda"></p>
            </fieldset>

            <fieldset id="fieldset-input">
                <legend>Nuevo Pedido</legend>
                <form id="form_ped_novo" action="">
                    <div id="sec_inputs">
                        <p for="">Cliente</p>
                        <select id="cli_input_novo"></select>
                    </div>
                    <div id="sec_inputs">
                        <p for="">Producto</p>
                        <select id="prod_input_novo"></select>
                    </div>
                    <div id="sec_inputs">
                        <p for="">Usuario</p>
                        <select id="usu_input_novo"></select>
                    </div>
                    <div id="sec_inputs">
                        <p for="">Tiempo Produccion</p>
                        <input type="text" id="time_input_novo">
                    </div>
                    <div id="sec_inputs">
                        <p for="">Fecha de Encargo</p>
                        <input type="text" id="encargo_input_novo" placeholder="AAAA-MM-DD">
                    </div>
                    <div id="sec_inputs">
                        <p for="">Fecha de Entrega</p>
                        <input type="text" id="entrega_input_novo" placeholder="AAAA-MM-DD">
                    </div>
                    <button type="submit" class="btn btn-dark" id="enviar">Enviar</button>
                </form>
                <p id="resp_enviar"></p>
            </fieldset>

            <fieldset id="fieldset-update">
                <legend>Actualizar Pedido</legend>
                <form id="form_ped_act" action="">
                    <div id="sec_inputs">
                        <p for="">Codigo del Pedido</p>
                        <select id="codigo_input_act"></select>
                    </div>
                    <div id="sec_inputs">
                        <p for="">Confirmar Cliente</p>
                        <select id="cli_input_act"></select>
                    </div>
                    <div id="sec_inputs">
                        <p for="">Confirmar Producto</p>
                        <select id="prod_input_act"></select>
                    </div>
                    <div id="sec_inputs">
                        <p for="">Confirmar Usuario</p>
                        <select id="usu_input_act"></select>
                    </div>
                    <div id="sec_inputs">
                        <p for="">Confirmar Tiempo Produccion</p>
                        <input type="number" id="time_input_act">
                    </div>
                    <div id="sec_inputs">
                        <p for="">Confirmar Fecha de Encargo</p>
                        <input type="date" id="encargo_input_act">
                    </div>
                    <div id="sec_inputs">
                        <p for="">Confirmar Fecha de Entrega</p>
                        <input type="date" id="entrega_input_act">
                    </div>
                    <button type="submit" class="btn btn-dark" id="actualizar">Actualizar</button>
                </form>
                <p id="resp_enviar"></p>
            </fieldset>
        </section>
    </main>
</body>
</html>